{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Fitprotein{% endblock %}


{% block body %}
    <div class="jumbotron text-center">
        <p>La meilleure Whey Protéine du marché (classement INC).
            Atteignez vos Objectifs ! Le plus large choix de Whey Protéine en Stock + Livraison Possible.
            Découvrez nos Marques.</p>
    </div>

    <div class="container">
        <h2>Nos nouveaux produits</h2>
        <div class="dataTable row flex">
            {% for product in products %}
            <div class="col-3">
                {% include 'product/_product.html.twig' %}
            </div>
            {% endfor %}
        </div>
    </div>

        <!-- Main Slider Three -->
        <section class="main-slider-three">

            <div class="main-slider-carousel owl-carousel owl-theme">

                <div class="slide" style="background-image:url(https://via.placeholder.com/1920x1280)">
                    <div class="auto-container">

                        <!-- Content boxed -->
                        <div class="content-boxed">
                            <div class="title">Grow Your Strengtn</div>
                            <h1>In Body Building</h1>
                            <div class="text">Unleash your fears, free your mind, feel your body</div>
                            <div class="link-box clearfix">
                                <div class="btn-one-outer"><a href="#" class="theme-btn btn-style-one"><span class="txt">Join Us Now</span></a></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="slide" style="background-image:url(https://via.placeholder.com/1920x1280)">
                    <div class="auto-container">

                        <!-- Content boxed -->
                        <div class="content-boxed">
                            <div class="title">Grow Your Strengtn</div>
                            <h1>In Body Building</h1>
                            <div class="text">Unleash your fears, free your mind, feel your body</div>
                            <div class="link-box clearfix">
                                <div class="btn-one-outer"><a href="#" class="theme-btn btn-style-one"><span class="txt">Join Us Now</span></a></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="slide" style="background-image:url(https://via.placeholder.com/1920x1280)">
                    <div class="auto-container">

                        <!-- Content boxed -->
                        <div class="content-boxed">
                            <div class="title">Grow Your Strengtn</div>
                            <h1>In Body Building</h1>
                            <div class="text">Unleash your fears, free your mind, feel your body</div>
                            <div class="link-box clearfix">
                                <div class="btn-one-outer"><a href="#" class="theme-btn btn-style-one"><span class="txt">Join Us Now</span></a></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- Social Box -->
            <div class="social-box">
                <ul>
                    <li class="share"><span class="icon fa fa-share"></span></li>
                    <li><a href="#" class="fa fa-facebook-f"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-google"></a></li>
                    <li><a href="#" class="fa fa-whatsapp"></a></li>
                </ul>
            </div>

        </section>
        <!-- End Main Slider -->

        <!-- Services Section Two -->
        <section class="services-section-two">
            <div class="image-layer" style="background-image:url(https://via.placeholder.com/1023x683)"></div>
            <div class="auto-container">

                <div class="row clearfix">

                    <!-- Service Block -->
                    <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="icon-box">
                                <span class="icon flaticon-barbell"></span>
                            </div>
                            <span class="number">01</span>
                            <div class="title">Friendly Atmosphere</div>
                            <h4><a href="classes-detail.html">CARDIO PROGRAM</a></h4>
                            <div class="text">Make the muscles of your body larger and fit stronger through tension and exercises such as lifting weights.</div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="icon-box">
                                <span class="icon flaticon-stationary-bike"></span>
                            </div>
                            <span class="number">02</span>
                            <div class="title">Friendly Atmosphere</div>
                            <h4><a href="classes-detail.html">PURE STRENGTH</a></h4>
                            <div class="text">Make the muscles of your body larger and fit stronger through tension and exercises such as lifting weights.</div>
                        </div>
                    </div>

                    <!-- Service Block -->
                    <div class="service-block-two col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="icon-box">
                                <span class="icon flaticon-people"></span>
                            </div>
                            <span class="number">03</span>
                            <div class="title">Friendly Atmosphere</div>
                            <h4><a href="classes-detail.html">POWER YOGA</a></h4>
                            <div class="text">Make the muscles of your body larger and fit stronger through tension and exercises such as lifting weights.</div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Services Section Two -->

        <!-- Newsletter Section -->
        <section class="newsletter-section">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="pattern-layer" style="background-image:url(https://via.placeholder.com/1545x200)"></div>
                    <div class="section-image" style="background-image:url(https://via.placeholder.com/161x165)"></div>
                    <div class="clearfix">

                        <!-- Map Column -->
                        <div class="map-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <div class="map-canvas"
                                     data-zoom="12"
                                     data-lat="-37.817085"
                                     data-lng="144.955631"
                                     data-type="roadmap"
                                     data-hue="#ffc400"
                                     data-title="Envato"
                                     data-icon-path="images/icons/map-marker-1.png"
                                     data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                                </div>
                                <a class="direction" href="contact.html">Get Direction <span class="fa fa-angle-double-right"></span></a>
                                <h3>27 Division St, New York, USA</h3>
                            </div>
                        </div>

                        <!-- Form Column -->
                        <div class="form-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <span class="circle-one"></span>
                                <span class="circle-two"></span>
                                <h4>Email Newsletter</h4>
                                <div class="newsletter-form">
                                    <form method="post" action="contact.html">
                                        <div class="form-group">
                                            <input type="email" name="email" value="" placeholder="Your email address....." required="">
                                            <button type="submit" class="theme-btn submit-btn"><span class="txt">Subscribe</span></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="text">Register now and get the latest news & updates</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- End Subscribe Section -->

        <!-- Benefits Section -->
        <section class="benefits-section">
            <div class="side-image" style="background-image:url(https://via.placeholder.com/300x180)"></div>
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <!-- Sec Title -->
                            <div class="sec-title">
                                <div class="title">OUR BENEFITS</div>
                                <h2>EVERYTHING IS <br> POSSIBLE WITH US</h2>
                            </div>

                            <!-- Benefit Block -->
                            <div class="benefit-block">
                                <div class="block-inner">
                                    <span class="icon flaticon-dumbbell"></span>
                                    <strong>40 Courses a Week</strong>
                                    <div class="feature-text">Everyday our entire team works to deliver you our skills, knowledge and passion</div>
                                </div>
                            </div>

                            <!-- Benefit Block -->
                            <div class="benefit-block">
                                <div class="block-inner">
                                    <span class="icon flaticon-fitness-2"></span>
                                    <strong>35+ Professional Trainers</strong>
                                    <div class="feature-text">Everyday our entire team works to deliver you our skills, knowledge and passion</div>
                                </div>
                            </div>

                            <!-- Benefit Block -->
                            <div class="benefit-block">
                                <div class="block-inner">
                                    <span class="icon flaticon-man"></span>
                                    <strong>Effective Group Training</strong>
                                    <div class="feature-text">Everyday our entire team works to deliver you our skills, knowledge and passion</div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Images Column -->
                    <div class="images-column col-lg-6 col-md-12 col-sm-12">
                        <div class="pattern-layer" style="background-image:url(images/background/pattern-5.png)"></div>
                        <div class="pattern-layer-two" style="background-image:url(images/background/pattern-6.png)"></div>
                        <div class="inner-column">
                            <div class="image">
                                <img src="https://via.placeholder.com/344x490" alt="" />
                            </div>
                            <div class="image-one">
                                <img src="https://via.placeholder.com/164x221" alt="" />
                            </div>
                            <div class="image-two">
                                <img src="https://via.placeholder.com/164x221" alt="" />
                            </div>
                            <div class="image-three">
                                <img src="https://via.placeholder.com/270x300" alt="" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Benefits Section -->

        <!-- Fluid Section -->
        <section class="fluid-section-one">
            <div class="left-side-text">BENEFITS</div>
            <div class="right-side-text">SKILLS</div>
            <div class="bottom-big-text">Facts</div>
            <div class="outer-container">
                <div class="clearfix">

                    <!-- Left Column -->
                    <div class="left-column">
                        <div class="pattern-image" style="background-image:url(images/background/pattern-7.png)"></div>
                        <div class="inner-column">
                            <div class="row clearfix">

                                <!-- Service Block Three -->
                                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                                    <div class="inner-box">
                                        <div class="icon-box">
                                            <span class="icon flaticon-tools-and-utensils"></span>
                                        </div>
                                        <h4><a href="classes-detail.html">Progression</a></h4>
                                    </div>
                                </div>

                                <!-- Service Block Three -->
                                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                                    <div class="inner-box">
                                        <div class="icon-box">
                                            <span class="icon flaticon-plan"></span>
                                        </div>
                                        <h4><a href="classes-detail.html">Nutrition</a></h4>
                                    </div>
                                </div>

                                <!-- Service Block Three -->
                                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                                    <div class="inner-box">
                                        <div class="icon-box">
                                            <span class="icon flaticon-exercise"></span>
                                        </div>
                                        <h4><a href="classes-detail.html">Confience</a></h4>
                                    </div>
                                </div>

                                <!-- Service Block Three -->
                                <div class="service-block-three col-lg-6 col-md-6 col-sm-12">
                                    <div class="inner-box">
                                        <div class="icon-box">
                                            <span class="icon flaticon-sports"></span>
                                        </div>
                                        <h4><a href="classes-detail.html">Workout</a></h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Right Column -->
                    <div class="right-column">
                        <div class="inner-column">
                            <div class="image-layer" style="background-image:url(https://via.placeholder.com/1080x917)"></div>
                            <!-- Sec Title -->
                            <div class="sec-title light">
                                <div class="title">Let See Now</div>
                                <h2>CHECK OUR SKILLS</h2>
                            </div>
                            <div class="text">We’ve spent over 10 years defining fitness and now we hare reinventing it. we’ve evolved so that you can transform your life.</div>

                            <!-- Skills -->
                            <div class="skills">

                                <!-- Skill Item -->
                                <div class="skill-item">
                                    <div class="skill-header clearfix">
                                        <div class="skill-title">Professionalism</div>
                                        <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="85">0</span>%</div></div>
                                    </div>
                                    <div class="skill-bar">
                                        <div class="bar-inner"><div class="bar progress-line" data-width="85"></div></div>
                                    </div>
                                </div>

                                <!-- Skill Item -->
                                <div class="skill-item">
                                    <div class="skill-header clearfix">
                                        <div class="skill-title">Dedication</div>
                                        <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="65">0</span>%</div></div>
                                    </div>
                                    <div class="skill-bar">
                                        <div class="bar-inner"><div class="bar progress-line" data-width="65"></div></div>
                                    </div>
                                </div>

                                <!-- Skill Item -->
                                <div class="skill-item">
                                    <div class="skill-header clearfix">
                                        <div class="skill-title">Challenging</div>
                                        <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="50">0</span>%</div></div>
                                    </div>
                                    <div class="skill-bar">
                                        <div class="bar-inner"><div class="bar progress-line" data-width="50"></div></div>
                                    </div>
                                </div>

                                <!-- Skill Item -->
                                <div class="skill-item">
                                    <div class="skill-header clearfix">
                                        <div class="skill-title">Perseverance</div>
                                        <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="75">0</span>%</div></div>
                                    </div>
                                    <div class="skill-bar">
                                        <div class="bar-inner"><div class="bar progress-line" data-width="75"></div></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Fluid Section -->

        <!-- Counter Section Two -->
        <section class="counter-section-two">
            <div class="color-layer"></div>
            <div class="auto-container">
                <!-- Fact Counter -->
                <div class="fact-counter-two">
                    <div class="row clearfix">

                        <!-- Column -->
                        <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="content">
                                    <div class="icon flaticon-muscle"></div>
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="3500" data-stop="120">0</span>
                                    </div>
                                    <div class="counter-title">Expert Trainer</div>
                                </div>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="content">
                                    <div class="icon flaticon-fitness"></div>
                                    <div class="count-outer count-box alternate">
                                        <span class="count-text" data-speed="2500" data-stop="550">0</span>
                                    </div>
                                    <div class="counter-title">Happy Clint</div>
                                </div>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <div class="content">
                                    <div class="icon flaticon-building"></div>
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="3000" data-stop="150">0</span>
                                    </div>
                                    <div class="counter-title">Total Branch</div>
                                </div>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                            <div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <div class="content">
                                    <div class="icon flaticon-fitness-1"></div>
                                    <div class="count-outer count-box">
                                        <span class="count-text" data-speed="2000" data-stop="25">0</span>
                                    </div>
                                    <div class="counter-title">Experience</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- End Counter Section -->

        <!-- Faq Section -->
        <section class="faq-section">
            <div class="side-text">faq’s</div>
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Image Column -->
                    <div class="image-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image">
                                <img src="https://via.placeholder.com/550x725" alt="" />
                            </div>
                        </div>
                    </div>

                    <!-- Accordian Column -->
                    <div class="accordian-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">

                            <!-- Sec Title -->
                            <div class="sec-title">
                                <div class="title">Some FAQ’s</div>
                                <h2>FREQUENTLY ASKED <br> QUESTIONS</h2>
                            </div>

                            <!-- Accordian Box -->
                            <ul class="accordion-box">

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How to raise over all fitness level?</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How can we get natural way to health?</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block active-block">
                                    <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What if i am do for body strength?</div>
                                    <div class="acc-content current">
                                        <div class="content">
                                            <div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Can I get a special trainer for bodybuilding?</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>When an i charged for the service?</div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">Now were up in the big leagues getting’ our turn at bat. And when the odds are against him and their dangers work to do. Duis aute irure dolor.</div>
                                        </div>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Faq Section -->

        <!-- Team Section -->
        <section class="team-section">
            <div class="side-text">Trainer</div>
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title light centered">
                    <div class="title">Team Staff</div>
                    <h2>Team of Expert <br> Coaches</h2>
                </div>
                <div class="row clearfix">

                    <!-- Team Block Two -->
                    <div class="team-block-two col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image">
                                <a href="#"><img src="https://via.placeholder.com/330x470" alt="" /></a>
                            </div>
                            <div class="content">
                                <div class="title">Crossfit Coach</div>
                                <a href="team.html" class="name">MATIE JUNIOR</a>
                            </div>
                            <div class="side-title">Crossfit Coach</div>
                        </div>
                    </div>

                    <!-- Team Block Two -->
                    <div class="team-block-two col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image">
                                <a href="#"><img src="https://via.placeholder.com/330x470" alt="" /></a>
                            </div>
                            <div class="content">
                                <div class="title">Bodybuilding Coach</div>
                                <a href="team.html" class="name">Steve Cross</a>
                            </div>
                            <div class="side-title">Crossfit Coach</div>
                        </div>
                    </div>

                    <!-- Team Block Two -->
                    <div class="team-block-two col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image">
                                <a href="#"><img src="https://via.placeholder.com/330x470" alt="" /></a>
                            </div>
                            <div class="content">
                                <div class="title">Cardio & Conditioning</div>
                                <a href="team.html" class="name">MAdona FRON</a>
                            </div>
                            <div class="side-title">Crossfit Coach</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Team Section -->

        <!-- Clients Section -->
        <section class="clients-section style-three">
            <div class="auto-container">

                <div class="sponsors-outer">
                    <!--Sponsors Carousel-->
                    <div class="clearfix">
                        <figure class="image-box"><a href="#"><img src="https://via.placeholder.com/180x140" alt=""></a></figure>
                        <figure class="image-box"><a href="#"><img src="https://via.placeholder.com/180x140" alt=""></a></figure>
                        <figure class="image-box"><a href="#"><img src="https://via.placeholder.com/180x140" alt=""></a></figure>
                        <figure class="image-box"><a href="#"><img src="https://via.placeholder.com/180x140" alt=""></a></figure>
                        <figure class="image-box"><a href="#"><img src="https://via.placeholder.com/180x140" alt=""></a></figure>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Clients Section -->

        <!-- News Section -->
        <section class="news-section-two style-two">
            <div class="pattern-layer" style="background-image:url(images/background/pattern-8.png)"></div>
            <div class="pattern-layer-two" style="background-image:url(images/background/pattern-9.png)"></div>
            <div class="auto-container">
                <!-- Sec Title -->
                <div class="sec-title centered">
                    <div class="title">Our Blog & Artical</div>
                    <h2>Latest News <br> Posts</h2>
                </div>

                <div class="row clearfix">

                    <!-- News Block Two -->
                    <div class="news-block-two style-two col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="image">
                                <a href="blog-single.html"><img src="https://via.placeholder.com/360x260" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><span class="icon fa fa-folder-open"></span> GYM</li>
                                </ul>
                                <h4><a href="blog-single.html">Push your Fitness Further <br> with Our GYM Facilities</a></h4>
                                <div class="lower-box">
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <a class="comment" href="blog-single.html"><span class="icon fa fa-comment-o"></span> 02</a>
                                        </div>
                                        <div class="pull-right">
                                            <div class="author-info">
                                                <div class="info-inner">
                                                    <div class="icon flaticon-user-4"></div>
                                                    By Jone Ankar <span>11.12.2020</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- News Block Two -->
                    <div class="news-block-two style-two col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
                            <div class="image">
                                <a href="blog-single.html"><img src="https://via.placeholder.com/360x260" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><span class="icon fa fa-folder-open"></span> Fitness</li>
                                </ul>
                                <h4><a href="blog-single.html">How to keep your Body Health in Over Festival</a></h4>
                                <div class="lower-box">
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <a class="comment" href="blog-single.html"><span class="icon fa fa-comment-o"></span> 02</a>
                                        </div>
                                        <div class="pull-right">
                                            <div class="author-info">
                                                <div class="info-inner">
                                                    <div class="icon flaticon-user-4"></div>
                                                    By Jone Ankar <span>11.12.2020</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- News Block Two -->
                    <div class="news-block-two style-two col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="image">
                                <a href="blog-single.html"><img src="https://via.placeholder.com/360x260" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><span class="icon fa fa-folder-open"></span> Cardio Burn</li>
                                </ul>
                                <h4><a href="blog-single.html">Give your Fitness a Boost with our GYM Challenge</a></h4>
                                <div class="lower-box">
                                    <div class="clearfix">
                                        <div class="pull-left">
                                            <a class="comment" href="blog-single.html"><span class="icon fa fa-comment-o"></span> 02</a>
                                        </div>
                                        <div class="pull-right">
                                            <div class="author-info">
                                                <div class="info-inner">
                                                    <div class="icon flaticon-user-4"></div>
                                                    By Jone Ankar <span>11.12.2020</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

    </div>

{% endblock %}
