{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Fitprotein{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <p>La meilleure Whey Protéine du marché (classement INC).
            Atteignez vos Objectifs ! Le plus large choix de Whey Protéine en Stock + Livraison Possible.
            Découvrez nos Marques.</p>
    </div>

    <div class="container">


        <div class="content-side col-lg-12 col-md-12 col-sm-12">
            <!--Shop Single-->
            <div class="shop-section">

                <div class="our-shops">

                    <div class="row clearfix">
                        {% for product in products %}
                            {% include 'product/_product.html.twig' %}
                        {% endfor %}
                    </div>


                    <div class="pagination-outer text-center">
                        {{ knp_pagination_render(products) }}
                    </div>

                </div>

            </div>
        </div>

    </div>

    </div>

{% endblock %}
