{% extends 'base.html.twig' %}

{% block body %}
<div class="auto-container">
    <!-- Blog Single -->
    <div class="blog-single">
        <div class="inner-box">
            <div class="lower-content">

                <h3>Livraison et retours?</h3>

    <div class="projet">
        <div class="picture">

        </div>
        <span>

<p>Si vous ne trouvez pas une réponse dans nos pages d'aide ci-dessous,
vous pouvez nous contacter par le formulaire suivant. Nous sommes impatients de vous aider !</p>



Comment se passe la livraison Fitprotein ?
<p>Nous portons une attention toute particulière quant à la livraison de vos colis.

Les produits commandés sont livrés à l'adresse que vous nous avez communiquée soit par notre transporteur pour les articles dépassant 30 kg,
soit par La Poste, UPS ou Chronopost pour les produits diététiques,
accessoires, l’électronique, la librairie, CD, DVD, etc...

Par livraison, il est entendu acheminement de notre entrepôt à votre domicile de ou des appareil(s) commandé(s).
En cas de commande groupée, il est possible que vous receviez votre commande en plusieurs fois.

Dans tous les cas, n'oubliez pas de nous laisser un numéro de téléphone
pour vous joindre dans la journée (portable ou numéro professionnel).</p>

<p>Les produits de moins de 30kg et peu volumineux sont livrés à domicile,
en point relais et en magasin FitnessBoutique par Chronopost en 24h et également par Colissimo en 48h à domicile.

Pour les appareils volumineux et/ou de plus de 30kg, le transporteur vous contacte par téléphone,
SMS ou e-mail, pour fixer un rendez-vous pour la livraison à l'adresse que vous avez indiquée dans le processus de commande.

Les transporteurs s'appuient sur les règlements qui régissent leur métier et qui stipulent que les livraisons doivent être effectuées à l'adresse mentionnée sur le bon de livraison au niveau de la rue.
De ce fait, les transporteurs ne sont pas tenus de vous livrer à l'intérieur de votre domicile, à l'étage,
ni de vous installer les appareils. Ils sont en droit de laisser votre colis à l'entrée de l'immeuble, ou à la porte de votre maison.

Dans la plupart des cas, et dans la mesure du possible, le chauffeur en charge de la livraison aide le destinataire et fait le nécessaire pour entrer le colis chez le client.

Toutefois, nous vous conseillons de prévoir l'aide d'un proche le jour du RDV,
au cas où le chauffeur ne puisse prendre le temps de vous aider à entrer votre colis à l'intérieur de votre domicile, surtout si ce dernier est un appareil lourd.</p>

<P>Conseil Fitprotein :

- Prévoir quelqu'un sur place pour éventuellement vous aider.
- Nous contacter pour demander un devis pour une livraison à deux chauffeurs ou une installation de votre équipement.

Pour une livraison par UPS, en cas d’absence lors de la livraison, le livreur vous laisse un avis de passage dans votre boîte aux lettres, et fera 2 autres tentatives de livraison dans les jours suivants.

En cas d’absence lors de la dernière tentative, le colis sera conservé pendant 5 jours dans l’agence UPS la plus proche de chez vous.

Vous pourrez alors venir retirer votre marchandise dans ce délai avant que le colis nous soit retourné.</P>

<p>Pour une livraison par transporteur, nous vous invitons à patienter jusqu'à ce que notre transporteur vous contacte par téléphone ou e-mail pour planifier la livraison et vérifier vos disponibilités.

En effet, il faut considérer 7 à 10 jours ouvrés à compter de la date de validation de votre commande. Notre transporteur vous contacte la veille de la livraison par téléphone ou e-mail afin de prendre rendez-vous et vérifier vos disponibilités.

En cas d'absence, un avis de passage vous est laissé dans votre boîte aux lettres par le chauffeur. Appelez alors au numéro local du transporteur pour fixer un autre rendez-vous (qui ne vous sera pas refacturé).

Note : Toutes difficultés d’accès au lieu de livraison (ex : rue inaccessible, etc.) doivent être connues lors de la commande. Si la livraison nécessite le recours à un surcroît de personnel ou de matériel exceptionnel,
une participation des frais engagés à cet effet pourront vous-être demandée.</p>
</span>


    </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


