
{% extends 'base.html.twig' %}

{% block body %}
    <div class="auto-container">
        <!-- Blog Single -->
        <div class="blog-single">
            <div class="inner-box">
                <div class="lower-content">

                    <h3>Mentions legales</h3>


                        <div class="projet">
                            <span>
                                <p>La structure générale du site  FITPROTEIN, ainsi que les textes, graphiques, images, sons et  vidéos la composant, sont la propriété de la société  FITCORP ou de ses partenaires. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ce site, par quelque procédé que ce soit,
                                sans l'autorisation préalable et par écrit de la société FITCORP ou de ses partenaires est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.
                                Loi informatiques et libertés</p>


                                <P>Conformément à la loi Informatique et Liberté 78-17 du 6 janvier 1978 modifiée, vous disposez d'un droit d'opposition (art. 38), d'accès (art. 39), de rectification ou de suppression (art. 40) des données qui vous concernent.

                                Ce droit s'exerce, en justifiant de son identité :

                                par voie postale : FITPROTEIN -  BP75113 - 75013 PARIS CEDEX
                                par courrier électronique : fitpotein@gmail.com</P>

                                <p>Toutes les données personnelles qui sont recueillies sont traitées avec la plus stricte confidentialité.
                                En particulier, FITCORP s’engage à respecter la confidentialité des messages courriels transmis au moyen d’une messagerie électronique.
                                alendaires suivant de conclusion du contrat (sous réserve de non annulation de la commande pendant cette période) qui correspond à la date du jour de validation de la commande client.</p>
                            </span>
                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

