{% extends 'base.html.twig' %}
{% block body %}



    <div class="auto-container">
        <!-- Blog Single -->
        <div class="blog-single">
            <div class="inner-box">
                <div class="lower-content">

                    <h3>Qui somme nous</h3>

                    <div id="projets">
                        <!-- PROJET 1 -->
                        <div class="projet">
                            <div class="picture">
                                <img src="public/img/img1.JPG" alt="mon premier projet" />
                            </div>
                            <span>
                <p>Nous sommes l'un des leaders de la nutrition sportive,
                    offrant une large gamme de produits de qualité dont des protéines en poudres,
                    vitamines et minéraux,
                    aliments hyper protéinés, snacks sains et des vêtements conçus pour la performance.</p>

                <p>Fondé en 2020, Fitprotein est mainteant la marque No.1 en France,et depuis nos bureaux à Paris, nous opérons dans plus de 70 pays via nos employés,
                    athlètes et influenceurs dans le monde entier.</p>

                <p>Tous les jours nous travaillons pour inspirer toutes les personnes de tous âges et genres pour croire en leur potentiel et leur apporter les compléments nécessaires pour atteindre leurs objectifs.</p>
            </span>
                        </div>

                        <h2>Nos engagements</h2>
                        <div class="projet">
                            <div class="picture">
                                <img src="public/img/img2.JPG" alt="mon premier projet" />
                            </div>
                            <span>
                <p>Chez Fitprotein, notre passion est de booster le potentiel de chaque personne peut-importe son genre, ville,
                    pays et son origine. En tant qu'entreprise mondiale, nous faisons partie de 70 pays et adorons cette diversité.</p>

                    <p>
                    Avec l'expansion et la diversification de Myprotein nous avons également diversifié notre gamme pour nous spécialisés également dans la production de produit bio et à base de plantes. Notre gamme vegan s'est diversifiée pour devenir une de nos gammes les plus populaires.
    Nous offrons désormais un large choix de produits sans substances animales permettant de réduire nos émissions de déchets toxiques et améliorer la condition animale.</p>


<p>Un autre engagement que nous avons pris est de réduire notre impact environemental et nous sommes constamment à la recherche d'innovations dans le respect de l'environement.
    Nous utlisons des matériaux recyclés et biodégradables dans nos process de fabrication et veillons à minimiser nos déchets.</p>


<p>L'une de facçon que nous utilisons pour respecter cet engagement est de nous assurer que nos déchets sont acheminés dans des zones de recyclage.
    Nous avons également retiré toutes les bouteilles en plastique de nos sites et  donnons des thermos réutilisables à nos employés entrainant une réduction de de consommation de 500 000 bouteilles en plastique par an évitant également à 1m d'emballages de finir dans la nature.</p>
                </span>
                        </div>
                        <div class="projet">
                            <div class="picture">
                                <img src="public/img/img3.jpg" alt="mon premier projet" />
                            </div>
                            <span>Le titre du projet</span>

                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    {% endblock %}

