{% extends 'base.html.twig' %}

{% block body %}
    <div class="auto-container">
        <!-- Blog Single -->
        <div class="blog-single">
            <div class="inner-box">
                <div class="lower-content">

                    <h3>Modes de paiement</h3>

                    <div class="projet">
                        <span>
                                <p>Avec notre partenaire Banque Casino, nous vous proposons le règlement de vos achats avec un paiement en 3 et 4 fois sans frais et un paiement en 10 fois avec frais selon les modalités ci après.

                                Le CB3X est un paiement en trois fois par carte bancaire accessible dès 90€ d’achat jusqu’à 6000€.
                                Cette solution de paiement est réservée aux porteurs d’une carte bancaire Visa ou Mastercard valide. Ce mode de paiement est réservé aux particuliers (personnes physiques majeure) résidant en France. Aucun justificatif ne sera demandé pour en bénéficier.

                                La carte bancaire doit avoir une date d’expiration supérieure à la date du 3ème paiement.</p>

                                <p> Le paiement en 3 fois par carte bancaire est un paiement fractionné en 3 mensualités selon l’échéancier suivant : 1er paiement le jour de la validation de la commande (⅓ du montant total de la commande) ; 2ème paiement 30 jours après la validation de la commande (⅓ du montant total de la commande) ; 3ème paiement 60 jours après la validation de la commande (⅓ du montant total de la commande).

                                Le CB4X est un paiement en quatre fois par carte bancaire accessible dès 100€ d’achat jusqu’à 6000€. Cette solution de paiement est réservée aux porteurs d’une carte bancaire Visa ou Mastercard valide. Ce mode de paiement est réservé aux particuliers (personnes physiques majeure) résidant en France. Aucun justificatif ne sera demandé pour en bénéficier.

                                La carte bancaire doit avoir une date d’expiration supérieure à la date du 4ème paiement.

                                Le paiement en 4 fois par carte bancaire est un paiement fractionné en 4 mensualités selon l’échéancier suivant : 1er paiement le jour de la validation de la commande (¼ du montant total de la commande) ; 2ème paiement 30 jours après la validation de la commande (¼ du montant total de la commande) ; 3ème paiement 60 jours après la validation de la commande (¼ du montant total de la commande); 4ème paiement 90 jours après la validation de la commande (¼ du montant total de la commande).</p>



                                <p>Le CB10X* est une solution de paiement en 10 dix fois par carte bancaire accessible dès 200€ d’achat jusqu'à 3000€ avec TAEG 11,90%.
                                    Cette solution est réservée aux porteurs d’une carte bancaire Visa ou Mastercard valide. La carte bancaire doit avoir une date d’expiration supérieure à la date du 10ème paiement.

                                Une pièce d’identité vous sera demandée pour valider l’offre de crédit.
                                    Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager

                                Le paiement en 10 fois est un paiement échelonné selon le calendrier suivant :
                                    1ère échéance soit 1/10 du montant total de la commande le jour de la commande ; et les 9 échéances mensuelles restantes représentant 9/10 du solde de la commande.

                                Exemple : pour un achat de 1 000€, premier prélèvement au moment de la commande de 105,80€ puis 9 mensualités de 105,08€ TAEG 11,90%. Coût du financement : 50,80€.

                                * Offre de crédit affecté à une vente sous réserve d'acceptation du dossier par Banque du Groupe Casino, SA au capital de 41.228.000€, SIREN 434 130 423 RCS Paris - siège social 6 avenue de Provence, 75009 Paris, entreprise soumise au contrôle de l'Autorité de Contrôle Prudentiel et de Résolution ( ACPR ) 4 Place de Budapest, CS 92459, 75436 Paris Cedex 09. ORIAS n°07 028 160 (www.orias.fr) , et après expiration du délai légal de rétractation en vigueur.

                                Délais de rétractation : le délai de rétractation est de 14 jours calendaires suivant de conclusion du contrat (sous réserve de non annulation de la commande pendant cette période) qui correspond à la date du jour de validation de la commande client. Pour revenir sur son engagement et exercer son droit de rétractation, le client doit utiliser le Bordereau de Rétractation figurant ici. Ce bordereau est à adresser à l’adresse suivante : Banque du Groupe Casino - Activité Paiement 4 x - 120 quai de Bacalan CS 40090 33070 Bordeaux Cedex.</p>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}




