{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer la commande</h1>
        {{  include ('admin/order/_form.html.twig',{button: 'Editer'}) }}
    </div>
{% endblock %}

