<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ADMIN{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="{{ path('admin') }}">Accueil</a></li>
            <li><a href="{{ path('admin.product.index') }}">Produits</a></li>
        </ul>
    </nav>
</header>

{% block body %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
