{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer l'avis</h1>
        {{  include ('admin/opinion/_form.html.twig',{button: 'Editer'}) }}
    </div>
{% endblock %}



