{% extends 'base.html.twig' %}

{% block title 'Tous nos produits' %}
{% block body %}
    <div class="jumbotron">
      <div class="container">
          {{ form_start(form) }}
          <div class="form-row">
              <div class="col">
                  {{ form_row(form.maxPrice) }}
              </div>
              <div class="col">
                  <button class="btn btn-primary">Rechercher</button>
              </div>
          </div>
          {{ form_end(form) }}
      </div>
    </div>
    <div class="container mt-4">

        <h3>Voir tous nos produits</h3>
        <p>La meilleure Whey Protéine du marché (classement INC).
            Atteignez vos Objectifs ! Le plus large choix de Whey Protéine en Stock + Livraison Possible.
            Découvrez nos Marques.</p>


        <div class="content-side col-lg-12 col-md-12 col-sm-12">
            <!--Shop Single-->
            <div class="shop-section">

                <!--Sort By-->
                <div class="items-sorting">
                    <div class="row clearfix">
                        <div class="results-column col-md-6 col-sm-6 col-xs-12">
                            <h6>Showing Items 1–9 of 36 results</h6>
                        </div>
                        <div class="select-column pull-right col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <select name="sort-by">
                                    <option>Default Sorting</option>
                                    <option>By Order</option>
                                    <option>By Price</option>
                                </select>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="our-shops">

                    <div class="row clearfix">
            {% for product in products %}
                {% include 'product/_product.html.twig' %}
            {% endfor %}
        </div>


                    <div class="pagination-outer text-center">
                        {{ knp_pagination_render(products) }}
                    </div>

                </div>

                </div>
            </div>


    </div>

{% endblock %}



