{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1>Formulaire de contact</h1>

                {% for message in app.flashes('success') %}
                    {{ message }}
                {% endfor %}

                {% for message in app.flashes('error') %}
                    {{ message }}
                {% endfor %}

                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}