<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="header__brand">Fitprotein</div>
            <nav class="nav">
                <ul>
                    <li><a href="" title="" class="nav__item">Nutrition sportive</a></li>
                    <li><a href="" title="" class="nav__item">Vêtements & Accessoires </a></li>
                    <li><a href="" title="" class="nav__item"></a>Contact</li>
                </ul>
            </nav>

        </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
