{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer le code promo</h1>
        {{  include ('admin/promoCode/_form.html.twig',{button: 'Editer'}) }}
    </div>
{% endblock %}



