{% extends 'base.html.twig'%}

{% block title 'Gérer les produits' %}

{% block body %}
<div class="container mt-4">
    <h1>Gérer les produits</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in product  %}
        <tr>
            <td>{{ product.title }}</td>
            <td>
                <a href="{{ path('admin.product.edit',{id: product.id}) }}" class="btn-secondary">Editer</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

